@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
}

[class*=-ibg] {
  position: relative;
  background-repeat: no-repeat;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: calc(37px + 8 * ((100vw - 320px) / 1280));
  line-height: calc(55px + 2 * ((100vw - 320px) / 1280));
  letter-spacing: 2px;
}

a:hover:not(.btn, .menu__link),
a:focus {
  color: #ffc3c3;
}

a:hover, .btn:hover, label #checkboxmark--body, .spoilers--block__quest:hover, .form__row:last-child .form__group, label:hover {
  cursor: url("../images/hand.png"), pointer;
}

*:focus-visible,
.btn:focus-visible {
  border: 2px solid rgb(59, 50, 185);
}

@media (min-width: 768px) {
  .menu__link:hover:before {
    opacity: 1;
    transition: all 0.3s ease 0s;
  }
}
label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.9375em 0.625em 0.625em 0.625em;
  display: block;
  transition: all 0.3s ease 0s;
  pointer-events: none;
}

input {
  height: 48px;
  position: relative;
  width: 100%;
  font-size: 1rem;
  padding: 0.625em 0 0 0.4375em;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  z-index: 1000;
  margin: 0 0 0 0;
  color: rgb(255, 219, 219);
}

.checkboxmark--body {
  pointer-events: visiblePainted;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

input[type=checkbox], input[type=radio] {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 0;
  height: 0;
  border: 0;
}

.check__box, .radio {
  position: absolute;
  height: 1em;
  width: 1em;
  margin: 0.28em 0 0 -1.9em;
  background-color: rgb(255, 255, 255);
}

.check__box {
  border-radius: 3px;
  border: 1px solid #961914;
}

.radio {
  border-radius: 50%;
  border: 1px solid #434242;
}

.form__input--checkbox:checked + .check__box, .form__input--radio:checked + .radio {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__input--checkbox:checked + .check__box {
  background-size: 0.7em;
  background-image: url(../images/accept.svg);
}

.form__input--radio:checked + .radio {
  background-image: url(../images/accept__radio.svg);
  border: 1px solid #961914;
}

.form__group {
  flex: 1 0 40%;
  position: relative;
  margin-bottom: 0.9375rem;
}
.form__label--checkbox {
  z-index: 100000000;
  padding: 0 0 0 2em;
}
.form__title {
  margin: 0 0 0.625em 0;
  font-size: 1.25em;
  font-weight: 600;
}
.form__subtitle {
  margin: 0 0 2em 0;
  font-weight: 300;
}
@media (min-width: 768px) {
  .form__row {
    display: flex;
    flex-flow: row;
    gap: 1.25em;
    margin-bottom: 1rem;
  }
}
.form__row:nth-child(2) {
  margin: 1em 0 1em 0;
  width: 100%;
  position: relative;
}
.form__row:nth-child(2) .textarea--form {
  padding: 1.875em 0.625em 7.625em 0.4375em;
}
.form__button {
  display: inline-block;
  color: #ec7973;
  border-radius: 2px;
  margin: 2em 0 0 0;
  width: 100%;
}
@media (min-width: 768px) {
  .form__button {
    max-width: 214px;
    margin: 0;
    border-radius: 5px;
  }
}

.form__input:not(:-moz-placeholder-shown) ~ .form__label {
  font-size: 0.75rem;
  padding: 0em 0.625em 0.625em 0.625em;
  color: #ffd6d6;
}

.form__input:not(:-ms-input-placeholder) ~ .form__label {
  font-size: 0.75rem;
  padding: 0em 0.625em 0.625em 0.625em;
  color: #ffd6d6;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  font-size: 0.75rem;
  padding: 0em 0.625em 0.625em 0.625em;
  color: #ffd6d6;
}

.form__input:focus {
  padding: 0.625em 0 0 0.4375em;
  font-size: 1rem;
}

.form__body .form__row:last-child .form__group {
  margin: 0;
  display: flex;
  gap: 0.625em;
}
.form__body .form__row:last-child .form__group input {
  margin: 0.3125em 0 0 0;
}

summary {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.btn {
  display: inline-block;
  padding: 13px 42px;
  height: 45px;
  border-radius: 8px;
  color: white;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}

.btn--r {
  background: #961914;
}

.btn--w {
  border: 1px solid #961914;
  color: #961914;
  background: white;
  font-weight: 700;
}

.btn--r:hover {
  background: #75110d;
}

.btn--w:hover {
  background: #ead1d0;
}

.btn--r:active {
  background: #a32925;
}

.btn--w:active {
  background: #ffe4e0;
}

#ellipse {
  position: relative;
  z-index: 1;
  white-space: nowrap;
}

#ellipse::before {
  content: url("../images/Ellipse.svg");
  position: absolute;
  right: calc(-20px + 15 * ((100vw - 320px) / 1280));
  top: calc(-2px + 2 * ((100vw - 320px) / 1280));
  z-index: -1;
}

.three-line {
  position: relative;
  display: inline-block;
}

.icon-before::before,
.three-line::before {
  content: url("../images/6.why-zoov/0.svg");
  position: absolute;
}

@media (min-width: 1024px) {
  .content {
    display: flex;
    flex-flow: row;
    gap: 20px;
    align-items: center;
  }
}

.item-set__body {
  line-height: 130%;
  padding: 0 0 64px 0;
}
.item-set__image {
  position: relative;
  margin: 0 0 24px 0;
}
.item-set__image img {
  position: relative;
  max-width: 100%;
}
.item-set .item-set__category {
  position: absolute;
  top: 10px;
  right: 15px;
  background: #fff4f3;
  border-radius: 8px;
  padding: 6px 12px;
  color: #ec7973;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}
.item-set__set-name {
  font-family: "Roboto";
  font-weight: 700;
  line-height: 130%;
  color: #000000;
}
.item-set__subname {
  font-size: 13px;
  color: #9f9e9d;
}
.item-set__text {
  font-family: "Montserrat";
  font-weight: 4 0;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
}
.item-set__weight, .ration_set .item-set__set-subname {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #9f9e9d;
}
.item-set__price {
  margin: 0 0 16px 0;
}
.item-set__old-price {
  display: inline-block;
  text-decoration: line-through;
  color: #434242;
}
.item-set__new-price {
  padding-left: 10px;
  display: inline-block;
  font-weight: 600;
}

.row-block__body {
  margin: 40px 0;
}
.row-block__body:last-child {
  margin: 0;
}
@media (min-width: 1024px) {
  .row-block__body:last-child {
    margin: 40px 0;
  }
}
.row-block__icon {
  margin: 0 0 16px 0;
}
.row-block__name {
  margin: 8px 0;
  font-weight: 600;
}
.row-block__text {
  margin: 10px 0;
  line-height: 140%;
}

.icon-before {
  position: relative;
}

.icon-before::before {
  left: 30px;
  bottom: 18px;
}

.swiper {
  height: 100%;
  width: 100%;
}
@media (max-width: 480px) {
  .swiper .swiper-slide {
    opacity: 0.5;
  }
  .swiper .swiper-slide-active {
    opacity: 1;
  }
}

.swiper-pagination {
  bottom: 24px;
}

.swiper-pagination-bullet {
  background-color: transparent;
  opacity: unset;
  background-color: #ead1d0;
}

.swiper-pagination-bullet-active {
  background-color: #961914;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 100000000;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.875rem 0.625rem;
}
.popup__content {
  width: 300px;
  background: white;
  padding: 3rem 1.3125rem 2.375rem 1.6875rem;
  position: relative;
}
@media (min-width: 768px) {
  .popup__content {
    width: 900px;
    padding: 3.5rem 4.625rem 3rem 2.3125rem;
  }
}
.popup form .form__row {
  margin-bottom: 0rem;
}
.popup .form__row {
  display: block;
}
.popup .form__row--last {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 2.25rem;
}
.popup .form__input {
  color: black;
  background: #f4f5f5;
}
.popup .form__label {
  z-index: 10000000000000000000000;
  color: rgba(0, 0, 0, 0.6);
}
.popup .form__label--checkbox {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.75rem;
  line-height: 16px;
}
@media (min-width: 768px) {
  .popup .form__label--checkbox {
    white-space: nowrap;
  }
}
.popup .form__input:not(:-moz-placeholder-shown) ~ .form__label {
  color: rgba(0, 0, 0, 0.4);
}
.popup .form__input:not(:-ms-input-placeholder) ~ .form__label {
  color: rgba(0, 0, 0, 0.4);
}
.popup .form__input:focus ~ .form__label,
.popup .form__input:not(:placeholder-shown) ~ .form__label {
  color: rgba(0, 0, 0, 0.4);
}
.popup .check__box {
  width: 16px;
  height: 16px;
  margin-top: 0;
}
.popup .btn {
  padding: 0.8125rem 2rem;
}
.popup details {
  display: inline-block;
}
.popup summary {
  position: relative;
}
.popup summary::after,
.popup summary::before {
  transition: all 0.3s ease 0s;
  top: 7px;
}
.popup summary:after {
  content: url(../images/Mobile_arrow.svg);
  position: absolute;
  top: 0;
  right: -20px;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
}
.popup summary:before {
  content: "";
  position: absolute;
  top: 5px;
  right: -12.5px;
  width: 0;
  height: 0;
  transform: rotate(45deg);
}
.popup details[open] > summary::after {
  transform: rotate(-180deg);
}
.popup details[open] {
  height: 150px;
}
.popup .spoilers--block {
  display: inline-block;
  font-size: 1rem;
}
.popup .spoilers--block__quest {
  font-weight: 600;
  -webkit-text-decoration: underline dotted rgb(175, 175, 175) 2px;
          text-decoration: underline dotted rgb(175, 175, 175) 2px;
  text-underline-position: under;
}
.popup .spoilers--block__answer {
  margin-top: 0.6875rem;
  font-size: 13px;
  color: #434242;
}
.popup .spoilers--wrapper {
  position: relative;
  width: 100%;
}
.popup .spoiler-right {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
}
.popup .item-set__body {
  padding: 0;
}
@media (min-width: 768px) {
  .popup .item-set__body {
    display: flex;
    flex-flow: row nowrap;
    gap: 2.3125rem;
  }
}
.popup .item-set__set-name {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}
.popup .item-set__image {
  width: 100%;
  height: 22.1875rem;
  background-repeat: no-repeat;
  margin-bottom: 0.75rem;
}
.popup .item-set__image img {
  width: 100%;
}
@media (min-width: 768px) {
  .popup .item-set__image {
    flex: 0 0 50%;
    height: 43.125rem;
  }
}
.popup .item-set__weight, .popup .ration_set .item-set__set-subname, .ration_set .popup .item-set__set-subname {
  margin-bottom: 1rem;
}
.popup .item-set__description {
  position: relative;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .popup .item-set__description {
    margin-bottom: 0rem;
  }
}
.popup .item-set__spoilers--block {
  margin-bottom: 0.75rem;
}
.popup .item-set__price {
  text-align: center;
}
@media (min-width: 768px) {
  .popup .item-set__price {
    margin-bottom: 0rem;
    width: 4.375rem;
  }
}
.popup .item-set__old-price {
  font-size: 0.875rem;
}
.popup .item-set__new-price {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .popup .item-set__new-price {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .popup .item-set .divider {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    justify-content: space-between;
  }
}
.popup .calculate__title {
  color: #961914;
  margin-bottom: 1rem;
}
.popup .calculate__text {
  margin-bottom: 2.625rem;
}
.popup .calculate__whatsApp, .popup .calculate__telegram {
  color: #961914;
  -webkit-text-decoration: underline #961914;
          text-decoration: underline #961914;
  text-underline-position: under;
}
.popup .calculate .form__label {
  max-width: 100%;
}
.popup .calculate .form .textarea {
  height: 100px;
}
.popup .calculate .form__label--radio {
  width: 100%;
  padding-left: 30px;
}
@media (min-width: 768px) {
  .popup .calculate .form__label--radio {
    font-size: 1rem;
  }
}
.popup .calculate .form__button {
  max-width: 100%;
}
.ration_set .item-set__set-name {
  margin-bottom: 0.25rem;
}
.ration_set .item-set__image {
  margin-top: 1.9375rem;
  margin-bottom: 1.5rem;
}
.ration_set .item-set__content {
  font-size: 0.875rem;
}
.ration_set .item-set__composition, .ration_set .item-set__value {
  margin-bottom: 3.25rem;
}
.ration_set .item-set__composition span, .ration_set .item-set__value span {
  font-weight: 600;
}
.calculate .popup__content {
  padding: 4.5rem 1.5rem 2.5rem 1.5rem;
}
@media (min-width: 768px) {
  .calculate .popup__content {
    width: 36.25rem;
    padding: 3.5rem 3.5rem 2rem 3.5rem;
  }
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.icon-close {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 5px;
  right: 5px;
}

.close::before, .close::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 20%;
  position: absolute;
  width: 70%;
  height: 2px;
}
.close::before {
  top: calc(50% - 0.0625rem);
  transform: rotate(-45deg);
  background-color: rgb(0, 0, 0);
}
.close::after {
  bottom: calc(50% - 0.0625rem);
  transform: rotate(45deg);
  background-color: rgb(0, 0, 0);
}

.header {
  z-index: 1000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0 0 0;
}
.header__body {
  margin: 10px auto;
  z-index: 10;
  height: calc(70px + 10 * ((100vw - 320px) / 1280));
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.header__body a {
  display: inline-block;
}
.header__logo {
  z-index: 1000;
  display: inline-block;
  width: calc(60px + 20 * ((100vw - 320px) / 1280));
}

.menu__body {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  transition: all 0.3s ease 0s;
  overflow: auto;
  padding: 100px 0 30px 0;
  transform: translate(-100%, 0);
}
.menu__body button {
  z-index: 2;
}
@media (min-width: 830px) {
  .menu__body {
    display: block;
    position: static;
    transform: translate(0, 0);
    background-color: transparent;
    height: 100%;
  }
  .menu__body button {
    display: none;
  }
  .menu__body::before, .menu__body::after {
    display: none;
  }
}
.menu__body::after {
  content: url("../images/menu_burger/left.svg");
  position: absolute;
  left: 0;
  top: 150px;
}
.menu__body::before {
  content: url("../images/menu_burger/right.svg");
  position: absolute;
  right: 0;
  bottom: 0px;
}
.menu ._active {
  transform: translate(0, 0);
}
.menu__list {
  display: block;
  text-align: center;
  padding: 0 0 60px;
}
@media (min-width: 830px) {
  .menu__list {
    display: flex;
    flex-flow: row;
    gap: 3.375em;
  }
}
.menu__link {
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 22px;
  padding: 30px 20px;
  position: relative;
  font-size: 22px;
  color: black;
}
@media (min-width: 830px) {
  .menu__link {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
  }
}
@media (min-width: 830px) {
  .menu__link {
    padding: 0;
  }
}
.menu__link::before {
  content: "";
  position: absolute;
  width: 99%;
  top: 100%;
  left: 1%;
  height: 3px;
  background-color: #961914;
  opacity: 0;
}

._lock {
  overflow: hidden;
}

.__scroll-on {
  position: fixed;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 0.0625em 0;
  margin: 0 auto;
  -webkit-animation: showBlock 0.3s ease 0s;
          animation: showBlock 0.3s ease 0s;
  z-index: 10000;
}

@-webkit-keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.__black {
  color: black;
}

.icon-menu, .menu__black {
  background: none;
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 1000;
}
.icon-menu span, .icon-menu::before, .icon-menu::after, .menu__black span, .menu__black::before, .menu__black::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 2px;
}
.icon-menu::before, .menu__black::before {
  top: 0;
}
.icon-menu::after, .menu__black::after {
  bottom: 0;
}
.icon-menu span, .menu__black span {
  top: calc(50% - 0.0625rem);
}
@media (min-width: 829.99px) {
  .icon-menu, .menu__black {
    display: none;
    visibility: hidden;
  }
}

.icon-menu span, .icon-menu::before, .icon-menu::after {
  background-color: rgb(255, 255, 255);
}

.menu__black span, .menu__black::before, .menu__black::after {
  background-color: rgb(0, 0, 0);
}

.menu-open span {
  width: 0;
}
.menu-open::before {
  top: calc(50% - 0.0625rem);
  transform: rotate(-45deg);
  background-color: rgb(0, 0, 0);
}
.menu-open::after {
  bottom: calc(50% - 0.0625rem);
  transform: rotate(45deg);
  background-color: rgb(0, 0, 0);
}

.menu-hover {
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: #961914;
}

.footer__body {
  background-color: #69120E;
  color: #965956;
  padding: 24px 0;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .footer__list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
}
.footer__item {
  color: #965956;
  display: block;
  margin: 0 0 8px 0;
}
.footer__list > .footer__item, .footer__item {
  margin: 0 0 24px 0;
  flex: 0 0 60%;
}
@media (min-width: 768px) {
  .footer__list > .footer__item, .footer__item {
    margin: 0;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1298px;
  padding: 0 24px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-flow: column nowrap;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
body {
  font-size: 1em;
  line-height: 140%;
  font-style: normal;
  font-weight: 400;
  color: black;
}

.main-screen {
  position: relative;
  min-height: 100vh;
  color: white;
}
.main-screen__body {
  position: relative;
  width: 100%;
  padding-top: calc(190px + 34 * ((100vw - 320px) / 1280));
  padding-bottom: calc(173px + 52 * ((100vw - 320px) / 1280));
}
@media (max-width: 425px) {
  .main-screen__body {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }
}
.main-screen__title {
  width: calc(300px + 190 * ((100vw - 320px) / 1280));
  margin: 0 0 1rem 0;
}
@media (min-width: 1024px) {
  .main-screen__title {
    font-size: 3.375rem;
    line-height: 130%;
    width: 31.25rem;
  }
  .main-screen__title #ellipse::before {
    content: url("../images/ellipse_b.svg");
    top: -3px;
    left: -25px;
  }
}
@media (max-width: 425px) {
  .main-screen__title br {
    display: none;
  }
}
.main-screen__text {
  width: 235px;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 300;
  margin: 0 0 3em 0;
}
@media (min-width: 425px) {
  .main-screen__text {
    width: 370px;
    margin: 0 0 2em 0;
  }
}
.main-screen__image-ibg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: -1;
}
.main-screen__ZOOV {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 10%;
}
@media (min-width: 1024px) {
  .main-screen #mobile {
    display: none;
  }
}
@media (max-width: 1023px) {
  .main-screen #desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .BARF__content {
    display: block;
  }
}
@media (min-width: 768px) {
  .BARF__row {
    display: flex;
    flex-flow: row;
    gap: 1.75em;
  }
}
@media (min-width: 1024px) {
  .BARF__row {
    padding: 0 0 4rem 0;
  }
}
.BARF__body {
  padding-top: calc(80px + 80 * ((100vw - 320px) / 1280));
  padding-bottom: calc(40px + 100 * ((100vw - 320px) / 1280));
}
.BARF__title {
  margin-bottom: calc(24px + 8 * ((100vw - 320px) / 1280));
}
.BARF__text {
  line-height: 150%;
  color: #434242;
  margin-bottom: 1.8em;
  font-weight: 300;
}
.BARF h3 {
  font-weight: 600;
  color: black;
}
@media (min-width: 1024px) {
  .BARF h3 {
    margin: 0;
  }
}
.BARF__list {
  margin: 1em 0 2.1em 0;
}
@media (min-width: 1024px) {
  .BARF__list {
    margin: 0;
  }
}
.BARF__item {
  color: #434242;
  position: relative;
  font-weight: 600;
  padding: 0.5em;
  padding-left: calc(15px + -3 * ((100vw - 320px) / 1280));
}
.BARF__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1em;
  background-color: #961914;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.BARF__image-dog img {
  width: 100%;
}
@media (min-width: 768px) {
  .BARF__image-dog {
    flex: 1 0 50%;
  }
}
@media (min-width: 1024px) {
  .BARF .consist__body::after {
    content: url("@img/2.BARF/line-desk.svg");
    position: absolute;
    z-index: 10;
    left: 30px;
    top: 60px;
  }
}
.BARF .consist__name {
  font-weight: 600;
  font-size: 0.9em;
  line-height: 200%;
  text-transform: uppercase;
  color: black;
  margin-bottom: 1em;
}
.BARF .consist__list {
  display: inline-block;
}
@media (min-width: 1024px) {
  .BARF .consist__list {
    display: flex;
    flex-flow: row nowrap;
    gap: 2.625em;
    padding: 0 0.625em;
  }
}
@media (min-width: 1440px) {
  .BARF .consist__list {
    gap: 4.5em;
  }
}
.BARF .consist .divider {
  flex-shrink: 0;
}
.BARF .consist__item {
  position: relative;
  padding-left: 2.8125em;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 250%;
  color: #434242;
}
.BARF .consist__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5em;
  display: inline-block;
}
.BARF .consist .item-meat:before {
  content: url("@img/2.BARF/slider/meat.svg");
}
.BARF .consist .item-bone:before {
  content: url("@img/2.BARF/slider/bone.svg");
}
.BARF .consist .item-veget:before {
  content: url("@img/2.BARF/slider/veget.svg");
}
.BARF .consist .item-liver:before {
  content: url("@img/2.BARF/slider/liver.svg");
}
.BARF .consist .item-by-prod:before {
  content: url("@img/2.BARF/slider/by-prod.svg");
}
.BARF .consist .item-nuts:before {
  content: url("@img/2.BARF/slider/nuts.svg");
}
.BARF .consist .item-fruits:before {
  content: url("@img/2.BARF/slider/fruits.svg");
}
.BARF .consist .swiper-pagination-bullet {
  border: 1px solid #961914;
}
.BARF .consist__slider {
  padding: 3.5rem 1.125rem 4.5rem 1.125rem;
  background-color: #ead1d0;
  width: 100%;
}
.BARF .consist__slider :first-child {
  margin-right: -10px;
}
@media (min-width: 1024px) {
  .BARF .consist__slider {
    padding: 2rem 2.5rem 2rem 2.5rem;
  }
}
.BARF .consist__slider::before {
  content: url("@img/slider/line.svg");
  position: absolute;
  z-index: 10;
  left: 15px;
  top: 0px;
}
@media (min-width: 1024px) {
  .BARF .consist__slider::before {
    display: none;
  }
}

.trial-sets__body {
  background-color: #fff4f3;
  padding-bottom: 1.5em;
  padding-top: 3.5em;
}
@media (min-width: 1024px) {
  .trial-sets__body {
    padding: 4.6em 0 4em 0;
  }
}
@media (min-width: 1024px) {
  .trial-sets__wrapper {
    display: flex;
    flex-flow: row;
    gap: 1.25em;
  }
}
.trial-sets__content {
  margin-bottom: 2em;
}
.trial-sets__title {
  margin: 0 0 1em 0;
  font-size: 2.7em;
}
.trial-sets__title #ellipse::before {
  content: url("../images/3.trial-sets/ellipse.svg");
  right: -25px;
  top: -5px;
}
@media (min-width: 1024px) {
  .trial-sets__title {
    flex: 1 0 49%;
    margin: 0;
    letter-spacing: 1.2px;
    font-size: 2.7em;
  }
}
.trial-sets__text {
  opacity: 1;
}
.trial-sets__decor {
  position: relative;
}
.trial-sets__decor::after, .trial-sets__decor::before {
  position: absolute;
}
.trial-sets__decor::after {
  content: url("@img/3.trial-sets/meat.svg");
  top: 80px;
  right: -50px;
}
@media (min-width: 1200px) {
  .trial-sets__decor::after {
    top: 130px;
    right: -60px;
  }
}
.trial-sets__decor::before {
  content: url("@img/3.trial-sets/apple.svg");
  top: 45px;
  right: 80px;
}
@media (min-width: 1200px) {
  .trial-sets__decor::before {
    top: 70px;
    right: 70px;
  }
}
@media (max-width: 1023px) {
  .trial-sets__decor {
    display: none;
  }
}
.trial-sets .item-set__body {
  padding: 0 0 4em 0;
}
@media (min-width: 1024px) {
  .trial-sets .item-set__body {
    padding: 0;
  }
}
.trial-sets .item-set__image {
  width: 100%;
  position: relative;
  margin: 0 0 1.5em 0;
}
.trial-sets .item-set__image:hover {
  transform: scale(1.02);
  transition: all 0.3s ease 0s;
}
.trial-sets .item-set__image img {
  z-index: 1;
  position: relative;
  width: 100%;
}
.trial-sets .item-set__set-name {
  margin: 0 0 0.5em 0;
}
.trial-sets .item-set__subname {
  font-size: 0.8125em;
  line-height: 130%;
  color: #434242;
}
.trial-sets .item-set__text {
  font-family: "Montserrat";
  font-size: 0.875em;
  margin: 0 0 0.5em 0;
}
.trial-sets .item-set__weight, .trial-sets .ration_set .item-set__set-subname, .ration_set .trial-sets .item-set__set-subname {
  font-family: "Montserrat";
  font-size: 0.8125em;
  line-height: 130%;
  margin: 0 0 0.625em 0;
  color: #9f9e9d;
}
.trial-sets .item-set__price {
  margin: 0 0 1em 0;
}
.trial-sets .item-set__new-price {
  padding-left: 0.625em;
}
.trial-sets__calculate-feed {
  flex: 1 0 25%;
  background: #ead1d0;
  position: relative;
}
.trial-sets__calculate-feed::before {
  content: url("@img/3.trial-sets/line-mobile.svg");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
@media (min-width: 375px) {
  .trial-sets__calculate-feed::before {
    content: url("@img/3.trial-sets/line.svg");
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}
@media (min-width: 1024px) {
  .trial-sets__calculate-feed::before {
    content: url("@img/3.trial-sets/line-desktop.svg");
    position: absolute;
    top: 120px;
    left: 10px;
    z-index: 10;
    transform: rotate(7deg);
  }
}
.trial-sets .calculate-feed__body {
  height: 100%;
  text-align: center;
  padding: 2em 1.5em;
  margin: 2em 0 0 0;
  position: relative;
  z-index: 1000;
}
@media (min-width: 1024px) {
  .trial-sets .calculate-feed__body {
    text-align: left;
    margin: 0;
  }
}
.trial-sets .calculate-feed__text {
  font-weight: 500;
  font-size: 1.25em;
  margin-bottom: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
}
@media (min-width: 1200px) {
  .trial-sets .calculate-feed__text {
    margin-bottom: 2.625em;
    font-weight: 600;
    font-size: 1.4375em;
    letter-spacing: 0.02em;
    color: black;
  }
}
@media (max-width: 1023.99px) {
  .trial-sets .calculate-feed__text .desktop {
    display: none;
  }
}
@media (min-width: 1023.99px) {
  .trial-sets .calculate-feed__text {
    text-align: initial;
  }
  .trial-sets .calculate-feed__text .mobile {
    display: none;
  }
}
.trial-sets .calculate-feed__button {
  z-index: 3;
}

.ration__body {
  padding: 5em 0;
}
@media (min-width: 1024px) {
  .ration__content {
    display: flex;
    flex-flow: row;
  }
}
.ration__title {
  margin-bottom: 1.25rem;
}
.ration__title #ellipse::before {
  content: url("../images/Ellipse_m.svg");
  right: -28px;
  top: -5px;
  transform: rotate(4deg);
}
@media (min-width: 1024px) {
  .ration__title {
    margin-bottom: 0;
    flex: 1 0 auto;
    padding: 0 3.125em 0 0;
  }
}
.ration__text {
  margin: 1em 0 0 0;
}
.ration__swiper {
  margin: 2em 0 0 0;
}
.ration .swiper-pagination-bullet {
  background-color: #ead1d0;
  border: transparent;
}
.ration .swiper-pagination-bullet-active {
  background-color: #961914;
}
.ration .swiper-button-prev, .ration .swiper-button-next {
  color: #ec7973;
  top: 30%;
}
.ration .item-set__set-name {
  padding: 2.8125em 0 0.25em 0;
}
.ration .item-set__image:hover {
  transform: scale(1.02);
  transition: all 0.3s ease 0s;
}
.ration .item-set__subname {
  padding: 0 0 1em 0;
}
.ration .item-set__text {
  padding: 0 0 0.6875em 0;
}
.ration .item-set__weight, .ration .ration_set .item-set__set-subname, .ration_set .ration .item-set__set-subname {
  margin: 0 0 1.5em 0;
}
.ration .item-set__button {
  display: inline-block;
}

.recommendations__body {
  background: #fff4f3;
  padding: 2.75em 0 1.5em 0;
}
.recommendations__title {
  position: relative;
  margin: 0 0 0.9375em 0;
  font-weight: 700;
  font-size: 1.875em;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: black;
  text-transform: none;
}
@media (min-width: 377px) {
  .recommendations__title {
    margin: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.25em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #961914;
  }
  .recommendations__title::before {
    content: url("/@img/5.recommendations/line-desktop.svg");
    position: absolute;
    top: 60px;
    left: 0;
  }
}
@media (min-width: 377px) and (min-width: 537px) {
  .recommendations__title::before {
    top: 30px;
  }
}
.recommendations__subtitle {
  margin: 0 0 1.25em 0;
}
@media (max-width: 376px) {
  .recommendations__content .title,
.recommendations .subtitle {
    display: none;
  }
}
@media (min-width: 377px) {
  .recommendations__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
.recommendations__content .title {
  letter-spacing: 0.02em;
  margin: 0 0 0.3125em 0;
  font-size: 1.8125em;
}
.recommendations__content .subtitle {
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.02em;
  color: black;
}
.recommendations__aduld {
  width: 100%;
}
@media (min-width: 377px) {
  .recommendations__aduld {
    width: 100%;
  }
}
.recommendations__table-wrapper {
  margin: 3.125em 0 0 0;
}
@media (min-width: 1280px) {
  .recommendations__table-wrapper {
    display: flex;
    flex-flow: row;
    gap: 2.75em;
  }
}
@media (min-width: 1440px) {
  .recommendations__table-wrapper {
    gap: 4em;
  }
}
.recommendations__table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
@media (max-width: 1279px) {
  .recommendations__table .desktop {
    visibility: collapse;
  }
}
@media (min-width: 1280px) {
  .recommendations__table {
    text-align: start;
  }
}
.recommendations__table thead th {
  color: #434242;
  border-bottom: 2px solid rgba(67, 66, 66, 0.2);
  padding: 0.5em;
}
@media (min-width: 1280px) {
  .recommendations__table thead th {
    text-align: start;
    margin-right: 1.25em;
  }
}
.recommendations__table td {
  padding: 0.625em;
  font-weight: 500;
  color: black;
}
.recommendations__table tr {
  border-bottom: 2px solid rgba(67, 66, 66, 0.2);
}
@media (max-width: 1279px) {
  .recommendations__table:last-child th, .recommendations__table:last-child .desktop tr {
    border: none;
  }
}
.recommendations__text {
  font-size: 0.875em;
  color: black;
  margin: 1em 0 2em 0;
}
.recommendations__text span {
  font-weight: 700;
}
.recommendations__note {
  font-size: 0.75em;
  color: #635d5d;
}
.recommendations .title {
  text-transform: uppercase;
}
.recommendations .swiper {
  padding: 2.625em 0 1em 0;
}
.recommendations .swiper-pagination {
  bottom: 90%;
}
@media (min-width: 376.99px) {
  .recommendations .swiper-pagination {
    display: none;
  }
}
.recommendations .swiper-pagination-bullet {
  bottom: 100px;
  width: calc(135px + 148 * ((100vw - 320px) / 1280));
  height: 3px;
  border-radius: 0;
  background-color: transparent;
  opacity: unset;
  background-color: #ead1d0;
  color: #434242;
  font-weight: 600;
  border-radius: 10%;
}
.recommendations .swiper-pagination-bullet-active {
  background-color: #961914;
  color: #961914;
  font-weight: 800;
}
@media (min-width: 768px) {
  .recommendations .swiper-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 4.6875em;
  }
}
@media (min-width: 300px) {
  .recommendations .swiper-slide {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .recommendations .swiper-slide {
    flex: 0 1 50%;
  }
}
.recommendations .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.recommendations .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.why-zoov__body {
  position: relative;
  padding: 4.5625em 0 5.4375em 0;
}
.why-zoov__body::before, .why-zoov__body::after {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.why-zoov__body::before {
  content: url("/@img/6.why-zoov/line_top.svg");
  top: 15%;
}
@media (min-width: 1024px) {
  .why-zoov__body::before {
    top: 130px;
  }
}
.why-zoov__body::after {
  content: url("/@img/6.why-zoov/line_top.svg");
  top: 70%;
}
@media (min-width: 1024px) {
  .why-zoov__body::after {
    display: none;
  }
}
.why-zoov__title .three-line::before {
  top: 27px;
  right: -20px;
  transform: scale(1, -1);
}
@media (min-width: 1024px) {
  .why-zoov__row {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.6875em;
  }
}

.love-zoov {
  position: relative;
  overflow: hidden;
}
.love-zoov__body {
  position: relative;
  background: #fff4f3;
  padding: 3.3125em 0.75em 8.75em 0.75em;
}
@media (min-width: 425px) {
  .love-zoov__body {
    padding: 3.3125em 0.75em 15.625em 0.75em;
  }
}
@media (min-width: 600px) {
  .love-zoov__body {
    padding: 3.3125em 0.75em 18.75em 0.75em;
  }
}
@media (min-width: 768px) {
  .love-zoov__body {
    padding: 3.3125em 0.75em 5em 0.75em;
  }
}
@media (min-width: 1024px) {
  .love-zoov__body {
    padding: 3.3125em 0.75em 12.5em 0.75em;
  }
}
@media (min-width: 768px) {
  .love-zoov__content {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    gap: 3.125em;
  }
}
@media (min-width: 1024px) {
  .love-zoov__content {
    gap: 7.5em;
  }
}
.love-zoov__title {
  color: black;
  margin: 0 0 0.625em 0;
  z-index: -1;
}
@media (min-width: 1024px) {
  .love-zoov__title {
    margin: 0 0 0.3125em 0;
  }
}
.love-zoov__text {
  z-index: 1000;
  font-family: "Montserrat";
  height: 100%;
  line-height: 130%;
  color: #434242;
  padding: 1.5em 0 0 0;
}
.love-zoov__text p {
  padding: 0.625em 0;
}
@media (min-width: 768px) {
  .love-zoov__text {
    flex: 0 0 350px;
  }
}
@media (min-width: 1024px) {
  .love-zoov__text {
    max-width: 523px;
    flex: 0 0 50%;
    margin: 2.5em 0 0 0;
  }
}
@media (min-width: 768px) {
  .love-zoov__image-block {
    flex: 0 0 300px;
  }
}
@media (min-width: 1024px) {
  .love-zoov__image-block {
    flex: 0 0 400px;
  }
}
.love-zoov .three-line::before {
  top: -15px;
  right: -20px;
  transform: rotate(-25deg);
}
.love-zoov .image-block__body {
  margin: 3.125em 0 0 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.love-zoov .image-block__body::after {
  content: "";
  background-image: url(/@img/7.love-zoov/dog@1x.png);
  width: 30%;
  height: 30%;
  position: absolute;
  background-size: cover;
  left: 0;
  top: 85%;
}
@media (min-width: 768px) {
  .love-zoov .image-block__body::after {
    width: 150px;
    height: 150px;
    left: -10%;
    top: 82%;
  }
}
@media (min-width: 1024px) {
  .love-zoov .image-block__body::after {
    top: 58%;
  }
}
.love-zoov .image-block__body::before {
  content: "";
  background-image: url(/@img/7.love-zoov/heart@2x.png);
  width: 25%;
  height: 25%;
  position: absolute;
  background-size: cover;
  right: 0;
  top: 50%;
  z-index: 10;
}
@media (min-width: 768px) {
  .love-zoov .image-block__body::before {
    width: 120px;
    height: 120px;
    top: -7%;
    right: -10%;
  }
}
@media (min-width: 1024px) {
  .love-zoov .image-block__body::before {
    top: 38%;
    right: -17%;
  }
}
.love-zoov .image-block__img-top {
  width: 100px;
  position: relative;
}
.love-zoov .image-block__img-top img {
  width: 80%;
}
@media (min-width: 768px) {
  .love-zoov .image-block__img-top img {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .love-zoov .image-block__img-top {
    padding: 0 3.75em 0 0;
  }
}
.love-zoov .image-block__img-bot {
  position: absolute;
  left: 30%;
  bottom: -45%;
}
@media (min-width: 768px) {
  .love-zoov .image-block__img-bot {
    left: 0px;
    bottom: 100px;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .love-zoov .image-block__img-bot {
    left: 33%;
    bottom: 5%;
    width: 80%;
  }
}

.get-zoov__body {
  position: relative;
  padding: 5em 0;
}
.get-zoov__container {
  padding: 0 1.625em;
}
.get-zoov__row {
  flex: 1 0 100%;
}
@media (min-width: 1024px) {
  .get-zoov__row {
    display: flex;
    flex-flow: row;
    gap: 0.625em;
  }
}
.get-zoov .row-block {
  padding: 0 0 0 1.5em;
  position: relative;
}
@media (min-width: 1024px) {
  .get-zoov .row-block {
    padding: 0;
  }
}
.get-zoov .row-block a {
  font-family: "Montserrat";
  font-size: 1em;
  color: #961914;
}
.get-zoov .row-block a:hover {
  text-decoration: underline;
}
.get-zoov .row-block__body {
  position: relative;
}
@media (min-width: 1024px) {
  .get-zoov .row-block__body {
    flex: 0 0 25%;
    padding: 0 24px;
    margin: 100px 0 0 0;
  }
  .get-zoov .row-block__body:before {
    content: url("/@img/8.get-zoov/arrow-small.svg");
    position: absolute;
    top: 10px;
    left: 125px;
  }
  .get-zoov .row-block__body:last-child:before {
    display: none;
  }
}
.get-zoov .row-block::before {
  content: url("/@img/get-zoov/arrow.svg");
  position: absolute;
  top: calc(40px + 5 * ((100vw - 320px) / 1280));
  left: -7px;
}
@media (max-width: 1023px) {
  .get-zoov .row-block::before {
    content: "";
    background-image: url(@img/8.get-zoov/arrow.svg);
    background-repeat: no-repeat;
    background-size: calc(17.4px + -12.9 * ((100vw - 320px) / 1280));
    top: 60px;
    left: -10px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
@media (max-width: 1023px) and (width: 375px) {
  .get-zoov .row-block::before {
    background-size: 15.9px;
  }
}

@media (min-width: 1024px) {
  .QA__container {
    display: flex;
    flex-flow: row;
  }
}
.QA__title {
  flex: 1 0 40%;
}
.QA .spoilers--block__body {
  padding: 2.5em 0 5em 0;
}
@media (min-width: 1024px) {
  .QA .spoilers--block__body {
    padding: 0 0 5em 0;
  }
}
.QA .spoilers--block__row {
  border-bottom: 1px solid #e5e5e5;
}
.QA .spoilers--block__question {
  padding: 1.5em 0;
}
@media (min-width: 1024px) {
  .QA .spoilers--block__question:first-child {
    padding: 0 0 1.5em 0;
  }
}
.QA .spoilers--block summary {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.QA .spoilers--block__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin: 0 20px 0 0;
}
.QA .spoilers--block__icon {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 40px;
  height: 40px;
  padding: 18px 0 0 0;
}
.QA .spoilers--block__answer {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin: 12px 0 0 0;
  color: #434242;
}
.QA summary:before {
  right: 0.3em;
  top: 0.4em;
  transition: all 0.3s ease 0s;
  width: 2px;
  height: 20px;
  border-radius: 2px;
  background-color: #961914;
  position: relative;
  content: "";
  position: absolute;
  transition: transform 0.5s;
  width: 2px;
  height: 20px;
}
.QA summary:after {
  content: "";
  position: absolute;
  transition: transform 0.5s;
  width: 2px;
  background-color: #961914;
  height: 20px;
  right: 0.3em;
  top: 0.4em;
  transform: rotateZ(90deg);
}
.QA details[open] > summary:before {
  transform: rotateZ(90deg);
}

.contacts__body {
  background-color: #961914;
  padding: 5em 0 15.125em 0;
  color: white;
}
@media (min-width: 768px) {
  .contacts__body {
    padding: 5em 0 4.375em 0;
  }
}
@media (min-width: 768px) {
  .contacts__container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 3.75em;
  }
}
@media (min-width: 1440px) {
  .contacts__container {
    gap: 11.6875em;
  }
}
@media (min-width: 768px) {
  .contacts__container {
    text-align: start;
  }
}
.contacts__block-form {
  align-self: flex-end;
  max-width: 632px;
  flex: 1 0 60%;
}
@media (min-width: 768px) {
  .contacts .text--block__body {
    max-width: 302px;
  }
}
.contacts .text--block__title {
  margin: 0 0 0.625em 0;
}
.contacts .text--block__subtitle {
  font-weight: 300;
  margin: 0 0 2em 0;
}
.contacts .text--block__number {
  font-weight: 700;
  margin: 0 0 1.5em 0;
}
.contacts .text--block__social-set {
  margin: 0 0 2.5em 0;
}
@media (min-width: 768px) and (max-width: 425px) {
  .contacts .text--block__social-set {
    display: inline-block;
  }
}
.contacts .text--block .social {
  background-color: #ab4743;
  padding: 0.625em 1em 0.625em 2.625em;
  margin: 0 0 1em 0;
  font-size: 0.875em;
  border-radius: 2px;
  position: relative;
}
@media (min-width: 768px) {
  .contacts .text--block .social {
    border-radius: 5px;
  }
}
.contacts .text--block .social::after {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 0 0 0.3125em;
}
.contacts .text--block .social:last-child {
  margin: 0;
}
.contacts .text--block__whatsapp, .contacts .text--block__telegram {
  color: white;
  display: inline-block;
}
@media (min-width: 768px) {
  .contacts .text--block__whatsapp, .contacts .text--block__telegram {
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 425px) {
  .contacts .text--block__whatsapp, .contacts .text--block__telegram {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
}
.contacts .text--block__whatsapp::after, .contacts .text--block__telegram::after {
  content: url("@img/9.contacts/whatsapp.svg");
}
.contacts .text--block__text-subscribe {
  margin: 0 0 3.5em 0;
}
@media (min-width: 768px) {
  .contacts .text--block__text-subscribe {
    margin: 0;
  }
}
.contacts .text--block__instagram {
  text-decoration: underline;
  color: white;
}
.contacts .btn:focus-visible {
  background-color: #ffffff;
  color: #ff0000;
}
.contacts .btn:hover {
  background-color: #ffa1a1;
  color: #ffffff;
}
.contacts .btn:active {
  background-color: #ff7676;
  color: #ffffff;
}