
// ПРИМЕР
// Type 0
// @include adaptive-value("padding", 50, 20, 0)
// padding: calc (20px + (50-20) * ((100hw - 320px) / ("1920 -ширина макета" 1920 - 320)))
$maxWidth: 1600;
$maxwidthConteiner: 1200;

@mixin adaptive-value($property, $startSize, $minSize, $type) {
	$addsize: $startSize - $minSize;

	@if $type==1 {
		//только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxwidthConteiner + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addsize} * ((100vw - 320px) / #{$maxwidthConteiner - 320}));
		}
	} @else if $type==2 {
		//только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxwidthConteiner + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addsize + px} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//всегда
		#{$property}: calc(#{$minSize + px} + #{$addsize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

// Перевод в адаптиыне единицы измерения===================================

// ПРИМЕР
// .title {
// 	font-size: rem(42 "px");
// }

@function prc($pxOne, $pxTwo) {
	$result: ($pxOne/$pxTwo) * 100%;
	@return $result;
}

@function rem($px) {
	$result: ($px/$fontsize) + rem;
	@return $result;
}

@function em($px) {
	$result: ($px/$fontsize) + em;
	@return $result;
}
