//====================================================================================================
.footer {
  &__body {
    background-color: #69120E;
    color: #965956;
    padding: 24px 0 ;
    font-size: rem(12);
  }

  &__list {
    @media (min-width:768px){
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
  }
  &__item {
    color: #965956;
    display: block;
    margin: 0 0 8px 0;
  }
  &__list > .footer__item, &__item {
    margin: 0 0 24px 0;
    flex: 0 0 60%;
    @media (min-width:768px){
      margin: 0;
  }
  }
  
  
}

//====================================================================================================
